<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head.ejs') %>
  </head>
  </head>
  <body>
    <%- include('../views/components/nav.ejs', {auth:auth}) %>
    <br/><br/>
    <div class="container">
        <h2>Add Course Details</h2>
        <form>
          <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" class="form-control" id="id" name="id" value="<%=data.id%>" required>
          </div>
          
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="<%=data.name%>" required>
          </div>
          
          <div class="form-group">
            <label for="year">Year:</label>
            <input type="text" class="form-control" id="year" name="year" value="<%=new Date().getFullYear()%>">
          </div>
          
          <div class="form-group">
            <label for="sem">Semester:</label>
            <select id="sem" class="form-control" placeholder="Select Course Leader">
                <option value="A">A</option>
                <option value="B">B</option>
            </select>
          </div>
          
          <div class="form-group">
            <label for="teacher">Teacher:</label>
            <select id="teacher" class="form-control" placeholder="Select Course Leader">
              <% data.allTeachers.forEach(teacher => { %>
                <option 
                  value="<%=teacher.id%>"><%=teacher.name%></option>
              <% }) %>
            </select>
          </div>
        </form>
        <div id="message"></div>
        <button id="submit" class="btn btn-primary">Submit</button>
      </div>
      <%- include('../views/components/foot.ejs')  %>
      <script>
        $(document).ready(function () {
          $("#submit").click(async function () {
            // The API Url
            const url = "<%= url %>";
            // The Input Data
            const id = $("#id").val();
            const name = $("#name").val();
            const year = $("#year").val();
            const sem = $("#sem").val();
            const teacher = $("#teacher").val();
            // Fetch Data
            console.log({id,name,year,sem,teacher})
            try {
              const response = await fetch(url, {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({id,name,year,sem,teacher}),
              });
              // success case
              if (response.ok) {
                const data = await response.json();
                const message = data.message;
                displayMessage("Success.", true);
                setTimeout(function () {
                  window.location.href = "/dashboard";
                }, 1000);
              // Reject Case
              } else {
                const errorData = await response.json();
                console.log(errorData);
                const errorMessage =
                  errorData.error || "Failed. Please try again.";
                displayMessage(errorMessage);
              }
            } catch (error) {
              // Error occurred during sign in
              displayMessage("An error occurred. Please try again later.");
            }
          });
          // maybe alert message
          function displayMessage(message, ok) {
            const errorContainer =
              document.querySelector(".alert") || document.createElement("div");
            errorContainer.className = `alert ${
              ok ? "alert-success" : "alert-danger"
            } mt-3`;
            errorContainer.textContent = message;
            document.querySelector("#message").appendChild(errorContainer);
          }
        });
      </script>
  </body>
</html>
