<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head.ejs') %>
  </head>
  </head>
  <body>
    <%- include('../views/components/nav.ejs', {auth:auth}) %>
    <br/><br/>
    <div class="container">
        <h2>Edit Course Student Details</h2>
        <form action="/courseStudent/:id/edit" method="POST" id="editForm">
          <div class="form-group">
            <label for="studentId">Student ID:</label>
            <input type="text" class="form-control" id="studentId" name="studentId" value="<%= data.studentId %>" readonly>
          </div>
          
          <div class="form-group">
            <label for="courseId">Course ID:</label>
            <input type="text" class="form-control" id="courseId" name="courseId" value="<%= data.courseId %>" required>
          </div>
          
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>">
          </div>
          
          <div class="form-group">
            <label for="year">Year:</label>
            <input type="text" class="form-control" id="year" name="year" value="<%= data.year %>" required>
          </div>
          
          <div class="form-group">
            <label for="sem">Semester:</label>
            <input type="text" class="form-control" id="sem" name="sem" value="<%= data.sem %>" required>
          </div>
          
          <div class="form-group">
            <label for="credit">Credit:</label>
            <input type="number" class="form-control" id="credit" name="credit" value="<%= data.credit %>">
          </div>
          
          <div class="form-group">
            <label for="finalGrade">Final Grade:</label>
            <input type="text" class="form-control" id="finalGrade" name="finalGrade" value="<%= data.grade.final || "" %>">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      
    <%- include('../views/components/foot.ejs')  %>
  </body>
</html>
