<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head.ejs') %>
  </head>
  </head>
  <body>
    <%- include('../views/components/nav.ejs', {auth:auth}) %>
    <br/><br/>
    <div class="container">
        <h2>Edit Course Details</h2>
        <form action="/courseDetail/:id/edit" method="POST" id="editForm">
          <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" class="form-control" id="id" name="id" value="<%= data.id %>" readonly>
          </div>
          
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>" >
          </div>
          
          <div class="form-group">
            <label for="year">Year:</label>
            <input type="text" class="form-control" id="year" name="year" value="<%= data.year %>">
          </div>
          
          <div class="form-group">
            <label for="sem">Semester:</label>
            <input type="text" class="form-control" id="sem" name="sem" value="<%= data.sem %>">
          </div>
          
          <div class="form-group">
            <label for="teacher">Teacher:</label>
            <input type="text" class="form-control" id="teacher" name="teacher" value="<%= data.teacher %>">
          </div>
          
          <div class="form-group">
            <label for="tutors">Tutors:</label>
            <input type="text" class="form-control" id="tutors" name="tutors" value="<%= data.tutors %>">
          </div>
          
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
      <script>
        document.getElementById('editForm').addEventListener('submit', async function (event) {
          event.preventDefault();
  
            let form = document.querySelector("#editForm");
  
            const url = "/api/courseDetail/:id/edit";
  
            var id = "<%= data.id %>";
            const name = document.querySelector("#name").value;
            const year = document.querySelector("#year").value;
            const sem = document.querySelector("#sem").value;
            const teacher = document.querySelector("#teacher").value;
            const tutors = document.querySelector("#tutors").value;
  
            try {
              const response = await fetch(url, {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({ id, name, year, sem, teacher, tutors }),
              });
  
              if (response.ok) {
                // Sign up success
                window.location.href = `/course`;
              } else {
                // Sign up failed
                const errorData = await response.json();
                const errorMessage = errorData.error || "Add failed. Please try again.";
                displayError(errorMessage);
              }
            } catch (error) {
              // Error occurred during user edit
              console.error(error);
              alert('An error occurred while editing the user');
            }
          });
          function displayError(message) {
            const errorContainer = document.querySelector(".alert") || document.createElement("div");
            errorContainer.className = "alert alert-danger mt-3";
            errorContainer.textContent = message;
  
            form.appendChild(errorContainer);
          }
      </script>
    <%- include('../views/components/foot.ejs')  %>
  </body>
</html>
