<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head.ejs') %>
    <style>
      .modern-table {
      border-collapse: collapse;
      width: 100%;
    }

    .modern-table th,
    .modern-table td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    .modern-table th {
      background-color: #f2f2f2;
      color: #333;
    }

    .modern-table tbody tr:hover {
      background-color: #f9f9f9;
    }

    .modern-table tbody td {
      font-weight: 400;
    }

    .modern-table tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    </style>
  </head>
  <body>
    <%- include('../views/components/nav.ejs',{auth:auth || {}}) %>
    <div class="container">
      <br/><br/>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-primary">Course Information</h4>
          <%if (auth.role != "student") { %>
            <a class="btn btn-danger mx-2" href="/course/<%=data.id%>/edit" role="button">Edit</a>
          <% } %>
          <%if (auth.role == "admin") { %>
            <a class="btn btn-primary mx-2" href="/course/<%=data.id%>/add" role="button">Add Detail Arrangement</a>
          <% } %>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item"><strong>ID:</strong> <%= data.id %></li>
            <li class="list-group-item"><strong>Name:</strong> <%= data.name %></li>
            <li class="list-group-item"><strong>Department:</strong> <%= data.dept %></li>
            <li class="list-group-item"><strong>Introduction:</strong> <%= data.intro %></li>
            <li class="list-group-item"><strong>Credit:</strong> <%= data.credit %></li>
          </ul>
        </div>
      </div>
    </div>
    <%- include('../views/components/foot.ejs') %>
  </body>
</html>
