<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head.ejs') %>
  </head>
  </head>
  <body>
    <%- include('../views/components/nav.ejs', {auth:auth}) %>
    <br/><br/>
    <div class="container">
        <h2>Edit Course</h2>
        <form action="/course/:id/edit" method="POST" id="editForm">
            <div class="form-group">
              <label for="id">ID:</label>
              <input type="text" class="form-control" id="id" name="id" value="<%= data.id %>" readonly>
            </div>
            
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>">
            </div>
            
            <div class="form-group">
              <label for="dept">Department:</label>
              <input type="text" class="form-control" id="dept" name="dept" value="ST" readonly>
            </div>
            
            <div class="form-group">
              <label for="intro">Introduction:</label>
              <textarea class="form-control" id="intro" name="intro"><%= data.intro %></textarea>
            </div>
            
            <div class="form-group">
              <label for="credit">Credit:</label>
              <input type="number" class="form-control" id="credit" name="credit" value="<%= data.credit %>">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
            <div id="message"></div>
          </form>
      </div>
      <script>
        document.getElementById('editForm').addEventListener('submit', async function (event) {
          event.preventDefault();
  
            let form = document.querySelector("#editForm");
  
            const url = "<%= url %>";
  
            var id = "<%= data.id %>";
            const name = document.querySelector("#name").value;
            const dept = document.querySelector("#dept").value;
            const intro = document.querySelector("#intro").value;
            const credit = document.querySelector("#credit").value;
  
            try {
              const response = await fetch(url, {
                method: "PATCH",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({ id, name, dept, intro, credit }),
              });
  
              if (response.ok) {
                // Sign up success
                const data = await response.json();
                const message = data.message;
                displayMessage("Success.", true);
                setTimeout(function () {
                    window.location.href = `/course/<%=data.id%>`;
                }, 1000);
              } else {
                // Sign up failed
                const errorData = await response.json();
                const errorMessage = errorData.error || "Failed. Please try again.";
                displayMessage(errorMessage);
              }
            } catch (error) {
              // Error occurred during user edit
              displayMessage('An error occurred while editing the user');
            }
          });
          function displayMessage(message, ok) {
            const errorContainer =
              document.querySelector(".alert") || document.createElement("div");
            errorContainer.className = `alert ${
              ok ? "alert-success" : "alert-danger"
            } mt-3`;
            errorContainer.textContent = message;
            document.querySelector("#message").appendChild(errorContainer);
          }
      </script>
    <%- include('../views/components/foot.ejs')  %>
  </body>
</html>
