<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head.ejs') %>
  </head>
  <body>
    <%- include('../views/components/nav.ejs') %>
    <%=(data)%>
    <%- include('../views/components/foot.ejs')  %>
    <table border = '1' width = '600' height = '200'>
      <tr>
        <td colspan = '2'>Personal Information</td>
      </tr>
      <tr>
        <td>ID</td>
        <td><%= data.id %></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><%= data.name %></td>
      </tr>
      <tr>
        <td>Role</td>
        <td><%= data.role %></td>
      </tr>
      <tr>
        <td>Your programme</td>
        <td><%=data.department %> - <%= data.major %> ( <%= data.progYear %> )</td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= data.email %></td>
      </tr>
    </table>
  </body>
</html>
