<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head.ejs') %>
    
  </head>
  <body>
    <%- include('../views/components/nav.ejs', {auth:auth}) %>
    <br/><br/>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-8">
              <h4 class="card-title text-primary">Edit Program</h4>
              <div class="d-flex">
                <button class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <form action="/update-data. method="POST">
                <div class="form-group">
                  <label for="id">ID:</label>
                  <input type="text" class="form-control" id="id" name="id" value="<%= data.id %>" readonly>
                </div>
          
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>" required>
                </div>
          
                <div class="form-group">
                  <label for="dept">Department:</label>
                  <input type="text" class="form-control" id="dept" name="dept" value="<%= data.dept %>">
                </div>
          
                <div class="form-group">
                  <label for="intro">Introduction:</label>
                  <textarea class="form-control" id="intro" name="intro"><%= data.intro %></textarea>
                </div>
          
                <div class="form-group">
                  <label for="credit">Credit Requirements:</label>
                  <% data.credit.forEach(credit => { %>
                    <div>
                      <label for="yearType"><strong><%= credit.yearType %></strong>:</label>
                      <input type="number" class="form-control" id="yearType" name="credit" value="<%= credit.credit %>">
                    </div>
                  <% }) %>
                </div>
          
                <div class="form-group">
                  <label for="leaders">Leaders:</label>
                  <select id="leaders" placeholder="Select Course Leader" multiple>
                    <% data.teachers.forEach(teacher => { %>
                      <option 
                        value="<%=teacher.id%>" 
                        <%=data.leaders.filter((lr)=>{return lr.id == teacher.id}).length>0?"selected":""%>
                        ><%=teacher.name%></option>
                    <% }) %>
                  </select>
                </div>
          
                <div class="form-group">
                  <label for="courses">Courses:</label>
                  <select id="courses" placeholder="Select courses" multiple>
                    <% data.allCourses.forEach(course => { %>
                      <option 
                        value="<%=course.id%>" 
                        <%=data.course.filter((cr)=>{return cr.id == course.id}).length>0?"selected":""%>
                        ><%=course.name%></option>
                    <% }) %>
                  </select>
                </div>
          
                <div class="form-group">
                  <label for="status">Status:</label>
                  <select class="form-control" id="status" name="status" aria-label="Default select example">
                    <option value="0" selected>Inactive</option>
                    <option value="1">Active</option>
                  </select>
                </div>
              </form>
        </div>
      </div>
    </div>
    <%- include('../views/components/foot.ejs')  %>
    <script>
      $(document).ready(function(){
        const leaders = new Choices('#leaders', {
          removeItemButton: true,
          searchResultLimit:5,
          renderChoiceLimit:5
        }); 
        const courses = new Choices('#courses', {
          removeItemButton: true,
          searchResultLimit:5,
          renderChoiceLimit:5
        }); 
        
      })
    </script>
  </body>
</html>
