<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head.ejs') %> 
    <%- include('../views/components/head.ejs') %>
  </head>
  <body>
    <%- include('../views/components/nav.ejs',{auth:auth || {}}) %>

    <div class="container">
      <br /><br />
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-8">
              <h4 class="card-title text-primary">Personal Information</h4>
              <button id="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="id">ID:</label>
              <input
                type="text"
                class="form-control"
                id="id"
                value="s<%=Math.round(Math.random()*1000000)%>"
              />
            </div>
            <div class="form-group">
              <label for="name">Name:</label>
              <input
                type="text"
                class="form-control"
                id="name"
                
              />
            </div>
            <div class="form-group">
              <label for="department">Department:</label>
              <input
                type="text"
                class="form-control"
                id="department"
                
              />
            </div>
            <div class="form-group">
              <label for="role">Role:</label>
              <select class="form-control" id="role">
                <option value="">-- Select --</option>
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
                <option value="admin">Admin</option>
              </select>
            </div>
            <div class="form-group">
              <label for="major">Major:</label>
              <input
                type="text"
                class="form-control"
                id="major"
                
              />
            </div>
            <div class="form-group">
              <label for="progYear">Program Year:</label>
              <input
                type="text"
                class="form-control"
                id="progYear"
                
              />
            </div>
            <div class="form-group">
              <label for="dateFrom">Date From:</label>
              <input
                type="text"
                class="form-control"
                id="dateFrom"
                
              />
            </div>
            <div class="form-group">
              <label for="dateTo">Date To:</label>
              <input
                type="text"
                class="form-control"
                id="dateTo"
                
              />
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
              />
            </div>
            <div class="form-group">
              <label for="phoneNo">Phone Number:</label>
              <input
                type="tel"
                class="form-control"
                id="phoneNo"
              />
            </div>
            <div class="form-group">
              <label for="emergencyPhoneNo">Emergency Phone Number:</label>
              <input
                type="tel"
                class="form-control"
                id="emergencyPhoneNo"
              />
            </div>
            <!-- Multiselect Dropdown Code Goes Here -->
          </form>
        </div>
      </div>
    </div>

    <%- include('../views/components/foot.ejs') %>

    <script>
      $(document).ready(function () {
        $("#submit").click(async function () {
          // The API Url
          const url = "<%= url %>";
          const id = $("#id").val();
          const name = $("#name").val();
          const role = $("#role").val();
          const department = $("#department").val();
          const major = $("#major").val();
          const progYear = $("#progYear").val();
          const dateFrom = $("#dateFrom").val();
          const dateTo = $("#dateTo").val();
          const email = $("#email").val();
          const phoneNo = $("#phoneNo").val();
          const emergencyPhoneNo = $("#emergencyPhoneNo").val();
          // Fetch Data
          try {
            const response = await fetch(url, {
              method: "PATCH",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({id, role, name, department, major, progYear, dateFrom, dateTo, email,phoneNo,emergencyPhoneNo}),
            });
            // success case
            if (response.ok) {
              const data = await response.json();
              const message = data.message;
              displayMessage("Success.", true);
              setTimeout(function () {
                window.location.href = "/users";
              }, 1000);
            // Reject Case
            } else {
              const errorData = await response.json();
              console.log(errorData);
              const errorMessage =
                errorData.error || "Failed. Please try again.";
              displayMessage(errorMessage);
            }
          } catch (error) {
            // Error occurred during sign in
            displayMessage("An error occurred. Please try again later.");
          }
        });
        // maybe alert message
        function displayMessage(message, ok) {
          const errorContainer =
            document.querySelector(".alert") || document.createElement("div");
          errorContainer.className = `alert ${
            ok ? "alert-success" : "alert-danger"
          } mt-3`;
          errorContainer.textContent = message;
          document.querySelector("#message").appendChild(errorContainer);
        }
      });
    </script>
  </body>
</html>
