<!DOCTYPE html>
<html>
  <head>
    <style>
      .extended-container {
        max-width: auto;
        margin: 0 auto;
        padding: 20px;
      }
    </style>
    <%- include('../views/components/head.ejs') %>
  </head>
  <body>
    <%- include('../views/components/nav.ejs',{auth:auth || {}}) %>
    <div class="extended-container">
        <br><br>
        <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-8">
              <h4 class="card-title text-primary">User Details</h4>
              <div class="row d-flex">
                <a class="btn btn-danger mx-2" href="/user/<%=data.id%>/edit" role="button">Edit</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Password</th>
                <th>role</th>
                <th>name</th>
                <th>department</th>
                <th>major</th>
                <th>progYear</th>
                <th>dateFrom</th>
                <th>dateTo</th>
                <th>email</th>
                <th>phoneNo</th>
                <th>emergencyPhoneNo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= data.id %></td>
                <td><%= data.password %></td>
                <td><%= data.role %></td>
                <td><%= data.name %></td>
                <td><%= data.department %></td>
                <td><%= data.major %></td>
                <td><%= data.progYear %></td>
                <td><%= data.dateFrom %></td>
                <td><%= data.dateTo %></td>
                <td><%= data.email %></td>
                <td><%= data.phoneNo %></td>
                <td><%= data.emergencyPhoneNo %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <%- include('../views/components/foot.ejs')%>
  </body>
</html>
